[Service]
ExecStart=/home/dev/safechannels/backup-channels.sh
Restart=always
RestartSec=1
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=backup-channels
User=dev
Group=dev

[Install]
WantedBy=multi-user.target
