[Service]
ExecStart=/home/dev/safechannels/backup-walletdb.sh
Restart=always
RestartSec=1
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=backup-walletdb
User=dev
Group=dev

[Install]
WantedBy=multi-user.target
