[Service]
ExecStart=/home/umbrel/safechannels/backup-walletdb.sh
Restart=always
RestartSec=1
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=backup-walletdb
User=umbrel
Group=umbrel

[Install]
WantedBy=multi-user.target